name: Activity
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
jobs:
  build:
    name: Fetch latest activity
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: WardDeb/readme_and_act@v0.4.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
