name: Activity
on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:
jobs:
  build:
    name: Fetch latest activity
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: WardDeb/github-activity-readme@v0.1.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
